
.table{
   width:100%;
    
    text-align: justify;
}


.table img{
    border-radius: 40%;
}

tr:nth-child(2n) {
    background-color: lightgrey;
}

 /* .table th:nth-child(1){
    background:red;
}  */